

<div class ="container mt-3">
    <div class="group">
        <% @customers.each do |customer| %>
          <div class ="formgroup">
             <%= customer.name%>
          </div>
        <% end %>
    </div>

    
    












</div>    