
<footer class="text-center pt-3 " style="background-color: #8FBC8F"> 
  <div class="container text-md-end">
    <div class="row no-gutters">
      <div class="col">
        <p>© ONSEN</p>
      </div>  
    </div>
  </div>  
</footer>
